<template>
    <v-app>
        <Toolbar @openMenu="$refs.menu.openMenu()" v-if="menu"></Toolbar>
        <v-content>
            <Menu ref="menu" v-if="menu"></Menu>
            <router-view @login="showMenu"></router-view>
        </v-content>

    </v-app>
</template>

<script>
    import Menu from './menu.vue'
    import Toolbar from './toolbar.vue'
    import { mapGetters } from 'vuex'

    export default {
        data () {
            return{
                menu: false
            }
        },
        components: {
            Menu,
            Toolbar
        },
        computed: {
            ...mapGetters([
                'token'
            ])
        },
        methods: {
            showMenu(){
                this.menu = true;
                this.$router.push({name:'acceuil'});
            }
        }
    }
</script>
