<template>
    <v-dialog
            v-model="active"
            hide-overlay
            transition="dialog-bottom-transition"
            fullscreen
    >
        <v-card>
            <v-toolbar
                    dark
                    color="primary"
            >
                <v-btn
                        icon
                        dark
                        @click="close()"
                >
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>Création d'un projet</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
                <v-container
                        fill-height
                >
                    <v-row>
                        <v-col
                                cols="12"
                                xs="12"
                                sm="7"
                        >

                                <v-text-field
                                        label="Nom du projet"
                                        required
                                        v-model="project.name"
                                />
                        </v-col>
                        <v-col
                                cols="12"
                                xs="12"
                                sm="5"
                        >
                            <v-menu
                                    v-model="picker"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px"
                            >
                                <template v-slot:activator="{ on }">
                                    <v-text-field
                                            v-model="project.started_date"
                                            label="Date de lancement du projet"
                                            prepend-icon="mdi-calendar"
                                            readonly
                                            v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker v-model="project.started_date" @input="menu2 = false"></v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col
                            cols="12"
                        >
                            <v-textarea
                                outlined
                                counter="500"
                                label="Description"
                                v-model="project.description"
                            >

                            </v-textarea>
                        </v-col>
                        <v-col
                                cols="12"
                                offset-sm="9"
                                sm="3"
                                xs="12"
                        >
                            <v-btn
                                    block
                                    @click="saveProject"
                            >
                                <v-icon left>mdi-content-save</v-icon> Sauvegarder
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "dialog_create_project.vue",
        data () {
            return {
                active: false,
                picker: false,
                project: {
                    name:'',
                    started_date:undefined,
                    description:''
                }
            }
        },
        methods: {
            open() {
                this.active = true
            },
            close() {
                this.active = false
            },
            saveProject(){
                let self = this;
                axios.post('/api/projects',{
                    projet: self.project
                }).then(function(response){
                    self.$emit("projectSaved",response.data);
                    self.close();
                })
            }
        }
    }
</script>

<style scoped>

</style>