<template>
    <v-dialog
            v-model="active"
            fullscreen
            hide-overlay
            transition="dialog-bottom-transition"
            v-if="projets.length > 0"
    >
        <v-card>
            <v-toolbar
                    dark
                    color="primary"
            >
                <v-btn
                        icon
                        dark
                        @click="close()"
                >
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>Création d'un compte rendu</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
                <v-container
                        fill-height
                >
                    <v-row>
                        <v-col
                                cols="12"
                                xs="12"
                                sm="12"
                        >
                            <v-menu
                                    v-model="picker"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px"
                            >
                                <template v-slot:activator="{ on }">
                                    <v-text-field
                                            v-model="report.report_date"
                                            label="Date du rapport"
                                            readonly
                                            v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker v-model="report.report_date" @input="menu2 = false"></v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col
                                cols="12"
                                xs="12"
                                sm="12"
                                align="center"
                        >
                            <v-textarea
                                    label="Vos actions"
                                    v-model="report.action"
                                    hint="Indiquez les actions que vous avez menées"
                                    outlined
                                    counter="500"
                            ></v-textarea>
                        </v-col>
                        <v-col
                                cols="12"
                                xs="12"
                                sm="12"
                        >
                            <v-combobox
                                    v-model="projectSelected"
                                    :items="projets"
                                    item-text="name"
                                    label="Choisissez vos projets"
                                    multiple
                                    outlined
                            ></v-combobox>
                        </v-col>
                        <v-col
                                cols="12"
                                xs="12"
                                sm="6"
                                v-for="p in projectSelected"
                                :key="p.id"
                        >
                            <v-text-field
                                :label="'Charge pour le projet ' + p.name"
                                v-model="p.charge"
                                outlined
                            />
                        </v-col>
                        <v-col
                                cols="12"
                                xs="12"
                                sm="12"
                        >
                            <v-btn
                                    large
                                    block
                                    @click="saveReport"
                            >
                                <v-icon left>mdi-content-save</v-icon> Sauvegarder
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>
<script>
    import { mapGetters } from 'vuex';

    export default {
        data () {
            return {
                active: false,
                projets: [],
                projectSelected: [],
                active: false,
                picker: false,
                report: {
                    report_date:undefined,
                    action:''
                }
            }
        },
        methods: {
            open() {
                this.active = true
            },
            close() {
                this.active = false
            },
            saveReport(){
                let self = this;
                self.report.projets = self.projectSelected;
                self.report.id_user = self.user.id;
                console.log(self.report);
                axios.post('/api/reports',{
                    report: self.report
                }).then(function(response){
                    self.$emit("reportSaved",response.data);
                    self.close();
                })
            }
        },
        beforeMount(){
            let selft = this;
            axios.get('/api/projects').then(function(response){
                selft.projets = response.data;
            });
        },
        computed: {
            ...mapGetters([
                'user'
            ])
        }
    }
</script>