<template>
    <v-dialog
            v-model="active"
            fullscreen
            hide-overlay
            transition="dialog-bottom-transition"
    >
        <v-card>
            <v-toolbar
                    dark
                    color="primary"
            >
                <v-btn
                        icon
                        dark
                        @click="close()"
                >
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>Compte rendu du {{ report.report_date }}</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
                <v-container
                        fill-height
                >
                    <v-row>
                        <v-col
                                cols="12"
                                xs="12"
                                sm="12"
                        >
                        </v-col>
                        <v-col
                                cols="12"
                                xs="12"
                                sm="12"
                                align="center"
                        >
                            <v-textarea
                                    label="Vos actions"
                                    v-model="report.action"
                                    outlined
                                    readonly
                            ></v-textarea>
                        </v-col>
                        <v-col
                                cols="12"
                                xs="12"
                                sm="6"
                                v-for="p in report.projects"
                                :key="p.id"
                        >
                            <v-text-field
                                    :label="'Charge pour le projet ' + p.name"
                                    v-model="p.pivot.charge"
                                    outlined
                                    readonly
                            />
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>
<script>
    import { mapGetters } from 'vuex';

    export default {
        data () {
            return {
                active: false,
                projets: [],
                projectSelected: [],
                active: false,
                picker: false
            }
        },
        methods: {
            open() {
                this.active = true
            },
            close() {
                this.active = false
            }
        },
        computed: {
            ...mapGetters([
                'user'
            ])
        },
        props: {
            report: Object
        }
    }
</script>