<template>
    <v-container
            fill-height
    >
        <v-row
                align="center"
                justify="center"
        >
            <v-col
                    cols="12"
                    xs="12"
                    sm="7"
                    align="center"
            >
                <div class="display-2">
                    Crystal Project Manager
                </div>
                <blockquote class="blockquote">
                    L'application permettant de suivre l'évolution des projets
                </blockquote>
            </v-col>
            <v-col
                    cols="12"
                    xs="12"
                    sm="7"
                    align="center"
            >
                <v-form
                        ref="login"
                        v-model="valid"
                        lazy-validation
                        @keyup.native.enter="login"
                        @submit.prevent.stop
                >
                    <v-text-field
                            v-model="model.login"
                            label="Login"
                            outlined
                            required
                    />
                    <v-text-field
                            v-model="model.password"
                            label="Password"
                            type="password"
                            outlined
                            required
                    />
                    <v-expand-transition>
                        <v-alert
                                v-if="error"
                                :value="true"
                                type="error"
                        >
                            Login or password incorrect
                        </v-alert>
                    </v-expand-transition>
                </v-form>
            </v-col>
            <v-col
                    cols="12"
                    xs="12"
                    sm="6"
                    align="center"
            >
                <v-btn
                        rounded
                        color="primary white--text"
                        large
                        :disabled="!valid"
                        :loading="loader"
                        type="submit"
                        @click="login"
                >
                    Se Connecter
                </v-btn>
            </v-col>
        </v-row>
    </v-container>

</template>

<script>
    import { mapGetters, mapActions } from 'vuex'

    export default {
        auth: false,
        data () {
            return {
                valid: true,
                error: false,
                loader: false,
                model: {
                    login: '',
                    password: ''
                }
            }
        },
        computed: {
            ...mapGetters([
                'token'
            ])
        },
        methods:{
            ...mapActions([
                'set_token', // map `this.increment()` to `this.$store.dispatch('increment')`
                'set_user',
            ]),
            login(){
                let self = this;
                this.loader = true;
                axios.post('/api/login',{
                    login: this.model.login,
                    password: this.model.password
                }).then(function (response) {
                    let token = {token:response.data.success.token};
                    self.set_token(token);
                    axios.defaults.headers.common['Authorization'] = 'Bearer ' + token.token;
                    axios.get('/api/user').then(function(response){
                        self.set_user({user: response.data});
                        self.$emit("login");
                    })

                })
            }
        }
    }
</script>
