<template>
        <v-navigation-drawer
                v-model="drawer"
                absolute
                temporary
        >
            <v-list-item>
                <v-list-item-content>
                    <v-list-item-title>{{ this.user.prenom }} {{ this.user.nom.toUpperCase() }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-divider></v-divider>

            <v-list dense>

                <v-list-item link to="/acceuil">
                    <v-list-item-icon>
                        <v-icon>mdi-home</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>Acceuil</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item link to="/projets">
                    <v-list-item-icon>
                        <v-icon>mdi-table-large</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>Projets</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item link to="/nouveau-compte-rendu">
                    <v-list-item-icon>
                        <v-icon>mdi-pencil</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>Rapports</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

</template>

<script>
    import Toolbar from './toolbar.vue';
    import { mapGetters } from 'vuex';
    export default {
        name: "layout.vue",
        components: {Toolbar},
        data () {
            return {
                drawer: false,
                items: [
                    { title: 'Acceuil', icon: 'home' },
                    { title: 'Projets', icon: 'table-large' },
                ],
            }
        },
        methods: {
            openMenu(){
                if(this.drawer)
                    this.drawer = false;
                else
                    this.drawer = true;
            },
            toProject(){
                this.$router.push({name: 'projets'});
                this.drawer = false;
            }
        },
        computed: {
            ...mapGetters([
                'user'
            ])
        }
    }
</script>

<style scoped>

</style>