<template>
    <v-container
            fill-height
    >
        <v-row
                align="center"
                justify="center"
        >
            <v-col
                    cols="12"
                    xs="12"
                    sm="12"
                    align="center"
            >
                <v-data-table
                        :headers="headers"
                        :items="projets"
                        :items-per-page="10"
                        class="elevation-1"
                ></v-data-table>
            </v-col>
            <v-col
                    cols="12"
                    xs="12"
                    sm="12"
                    align="center"
            >
            </v-col>
            <v-col
                    cols="12"
                    xs="12"
                    sm="12"
                    align="center"
            >
                <v-btn
                        large
                        @click="$refs.create.open()"
                >
                    <v-icon left>mdi-plus-circle</v-icon> Ajouter
                </v-btn>
            </v-col>
        </v-row>
        <DialogCreateProject ref="create" @projectSaved="addProject"></DialogCreateProject>
    </v-container>
</template>

<script>
    import DialogCreateProject from "./dialog_create_project";

    export default {
        name: "projets.vue",
        components: {
            DialogCreateProject
        },
        data() {
            return {
                projets: undefined,
                headers: [
                    { text: 'Nom', value: 'name' },
                    { text: 'Date de début', value: 'started_date' },
                    { text: 'Date de fin', value: 'finished_date' }
                ]
            }
        },
        beforeMount(){
            let selft = this;
            axios.get('/api/projects').then(function(response){
                selft.projets = response.data;
            });
        },
        methods: {
            addProject(project){
                this.projets.push(project);
            }
        }
    }
</script>

<style scoped>

</style>