<template>
    <v-container
            fill-height
    >
        <v-row
                align="center"
                justify="center"
        >
            <v-col
                    cols="12"
                    xs="12"
                    sm="12"
                    align="center"
            >
                <v-data-table
                        :headers="headers"
                        :items="reports"
                        :items-per-page="10"
                        class="elevation-1"
                >
                <template v-slot:item.action="{ item }">
                    <v-icon
                            small
                            class="mr-2"
                            @click="showReport(item)"
                    >
                        mdi-eye
                    </v-icon>
                </template>
                </v-data-table>
            </v-col>
            <v-col
                    cols="12"
                    xs="12"
                    sm="12"
                    align="center"
            >
            </v-col>
            <v-col
                    cols="12"
                    xs="12"
                    sm="12"
                    align="center"
            >
                <v-btn
                        large
                        @click="$refs.create.open()"
                >
                    <v-icon left>mdi-plus-circle</v-icon> Ajouter
                </v-btn>
            </v-col>
        </v-row>
        <CreateReport ref="create" @reportSaved="addReport"></CreateReport>
        <ShowReport ref="show" :report="selectedreport"></ShowReport>
    </v-container>
</template>

<script>
    import CreateReport from './dialog_create_report.vue';
    import ShowReport from './dialog_show_report.vue';
    import { mapGetters } from 'vuex';

    export default {
        name: "reports.vue",
        components: {
            CreateReport,ShowReport
        },
        data() {
            return {
                reports: undefined,
                selectedreport:undefined,
                headers: [
                    { text: 'Date du compte rendu', value: 'report_date' },
                    { text: 'Date de création', value: 'created_at' },
                    { text: 'Actions', value: 'action', sortable: false }
                ]
            }
        },
        methods:{
            addReport(report){
                this.reports.push(report);
            },
            showReport(report){
                this.selectedreport = report;
                this.$refs.show.open();
            }
        },
        beforeMount(){
            let selft = this;
            axios.get('/api/users/' + selft.user.id + '/reports').then(function(response){
                selft.reports = response.data;
            });
        },
        computed: {
            ...mapGetters([
                'user'
            ])
        }
    }
</script>

<style scoped>

</style>