<template>
    <v-app-bar
            app
            fixed
    >
        <v-app-bar-nav-icon
                @click.stop="openMenu"
        ></v-app-bar-nav-icon>

        <VToolbarTitle>Crystal Project Manager</VToolbarTitle>
    </v-app-bar>
</template>

<script>
    export default {
        name: "toolbar.vue",
        methods: {
            openMenu(){
                this.$emit('openMenu');
            }
        }
    }
</script>

<style scoped>

</style>